* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #f9fafb;
  color: #111827;
  line-height: 1.6;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Diphylleia", sans-serif;
  font-size: 2rem;
}

h1 > a {
  text-decoration: none;
  color: #111827;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 2rem;
  height: 10rem;
}

.movie-content {
  list-style: none;
  grid-column: 2 / 3;
  grid-row: 2/ 3;
}

.searchBtn {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.size-6 {
  width: 1.25rem;
  height: 1.25rem;
}

.searchBox {
  border: none;
  outline: none;
  font-family: "Noto Sans", sans-serif;
}

.searchBox-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a1a1a1;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  border: 2px solid #d1d5db;
}

.searchBox-area:hover {
  border: 2px solid #000000;
}

.movie {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 2rem;
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.movie-poster {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.movie-poster img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.rating-area {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.rating-num {
  font-size: 1.5rem;
}

.movie-content {
  background: #f3f4f6;
  padding: 1.5rem;
  border-radius: 0.75rem;
}

/* 720 이하의 화면에서는 요소들 세로로 나열 */
@media (max-width: 720px) {
  .movie {
    display: flex;
    flex-direction: column;
  }

  nav > h1 {
    font-size: 1.5rem;
    flex-shrink: 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
  }
}
